pydantic==1.8.2
aiofiles
fastapi==0.65.3
uvicorn==0.14.0
starlette==0.14.2
PyJWT==1.7.1
fastapi-jwt-auth==0.5.0
requests==2.23.0
python-multipart==0.0.5
gitpython==3.1.24
mammoth==1.4.17
bcrypt==3.2.0
python-docx==0.8.11
pdfkit==0.6.1
dropbox~=10.8.0
psycopg2==2.9.2
psycopg2-binary==2.9.2
heroku3~=5.1.4
urllib3==1.25.11
bs4
beautifulsoup4
XlsxWriter
SQLAlchemy==1.4.22
alembic==1.7.5
python-dotenv==0.19.0
pytest==6.2.4