pydantic==1.8.2
fastapi~=0.65.1
uvicorn==0.14.0
starlette~=0.16.0
PyJWT==1.7.1
fastapi-jwt-auth==0.5.0
requests~=2.23.0
python-multipart==0.0.5
gitpython==3.1.24
mammoth==1.4.17
bcrypt==3.2.0
python-docx==0.8.11
pdfkit==0.6.1
dropbox~=10.8.0
psycopg2~=2.9.1
psycopg2-binary==2.9.2
heroku3~=5.1.4
urllib3~=1.25.3
future~=0.18.0
numpy~=1.17.3
PyQt5~=5.15.4
schedule~=1.1.0
bs4~=0.0.1
beautifulsoup4~=4.9.0
XlsxWriter~=3.0.2
SQLAlchemy~=1.4.21
alembic~=1.7.5
python-dotenv==0.19.0