pydantic==1.8.2
fastapi
uvicorn==0.14.0
starlette
PyJWT==1.7.1
fastapi-jwt-auth==0.5.0
requests==2.26.0
python-multipart==0.0.5
gitpython==3.1.24
mammoth==1.4.17
bcrypt==3.2.0
python-docx==0.8.11
pdfkit==0.6.1
natsort