<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/source/jQuery.min.js"></script>
<title>Login</title>
<style>
{1}
</style>
</head>
<body>
<div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
          <input id="login" name="arg2">
        <label for="login">Login</label>
      </div>
        <div class="user-box">
        <input id="password" type="password" name="arg">
        <label for="password">Password</label>
        </div>
          <input type="hidden" id="redir" name="redirect" value="{0}">
      <a href="javascript:login();">
        <span></span>
        <span></span>
          LOGIN OR REGISTER
        <span></span>
        <span></span>
      </a>
        <input type="submit" id="submit">
    </form>
  </div>
<div class="alert-box" id="alert-box"></div>
<script src="/source/auth.js"></script>
</body></html>